[package]
name = "calib-optim"
version = "0.1.0"
edition = "2021"

[dependencies]
calib-core = { path = "../calib-core" }
nalgebra = { workspace = true }
levenberg-marquardt = { workspace = true }
thiserror = { workspace = true }
